.about-page {
    .banner {
        .image-aboutus-banner {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url("../../images/banner10.jpg");
          background-position: center 57%!important;
        }
    }
    .content {
        .intro p {
            font-size: 19px;
            line-height: 1.7;
            opacity: 0.8;
            strong {
                color: lighten(#007bff, 14%);
            }
        }
        .backend p{
            font-size: 18px;
            line-height: 1.5;
            opacity: 0.9;
            strong {
                color: lighten(#007bff, 27%);
            }
        }
        .list-group {
            width: 400px;
            max-width: 100%;
            margin-left: -20px;
            .list-group-item {
                background: transparent;
            }
        }
        a {
            color: inherit;
        }
    }

}