.actor-page {
    .navbar {
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        background: transparent;
        box-shadow: none;
      
        @media (max-width: 991px) {
          .navbar-collapse {
            background: #000;
          }
        }
    }
    header.masthead {
        position: relative;
        background-color: #343a40;
        background: url("../images/banner6.jpg") no-repeat center center;
        background-size: cover;
        padding-top: 11rem;
        padding-bottom: 11rem;
    
        height: 100vh;
        max-height: 500px;
      
        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            &:after {
                content: " ";
                position: absolute;
                height: 100%; width: 100%; top: 0; left: 0;
                background-color: #212529;
                opacity: 0.6;
            }
            &:before {
                content: " ";
                position: absolute;
                height: 100%; width: 100%; top: 0; left: 0;
                background: linear-gradient(to bottom, #000000 20%, #007bff 101%);
                opacity: 0.7;
            }
        }
    }
    section {
        &.actor-intro {
            $k : 0.8;
            margin-top: - 600px * $k / 2;
            .actor-image {
                max-width: 400px * $k;
                max-height: 600px * $k;
                overflow: hidden;
                position: relative;
                float: left;
                margin-right: 50px;
                box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.3);
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .shortdetails {
                float: left;
                margin-top: 50px;
                color: #fff;
                .subtext {
                    font-weight: 300;
                    list-style: none;
                    margin-bottom: 20px;
                    padding: 0;
                    li {
                        display: inline-block;
                        opacity: .7;
                        &.genres span{
                            &:after {
                                content: ", ";
                            }
                            &:last-child:after{
                                content: " ";
                            }
                        }
                        &:after {
                            content: '|';
                            padding-left: 10px;
                            padding-right: 4px;
                        }
                    }
                }
            }
        }
        &.film-details{
            margin-top: 100px; 
            h3 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
                font-weight: 300;
            }
            .list-group {
                font-weight: 300;
                .list-group-item {
                    background: transparent;
                    color: #fff;
                    span.year {
                        font-style: italic;
                        float: right;
                        opacity: .7;
                    }
                }
            }
            .details-side {
                background-color: #28282d;
                box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
                padding: 25px 35px;
                margin-bottom: 50px;
                h3 {
                    margin-block-end: 20px;
                }
                ul {
                    font-weight: 300;
                    list-style: none;
                    padding: 0;
                    li {
                        margin-bottom: 5px;
                    }
                }
                strong {
                    display: block;
                }
                a {
                    color: inherit;
                    transition: opacity 0.2s ease;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}