.actors-page {
    .banner {
      .image-aboutus-banner {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../../images/banner8.jpg") // 5
      }
    }
    #filters {
        #filter-name,
        #filter-films, {
            .label {
                margin-bottom: 4px;
            }            
            input#name,
            input#films,
            .selectize-input {
                background: transparent;
                box-shadow: none;
                
                border: none;
                border-radius: 0;
                border-bottom: 1px solid;
                border-color: #999;

                color: #f9f9f9f9;
                height: 30px;
                width: 180px;
                margin: 0 auto;

                font-size: 1rem;
            }
            .selectize-control.multi .selectize-input > div {
                border: none;
                color: #fff;
                background: #007bff;
                border-radius: 2px;
                font-size: 90%;
            }
            .selectize-input input{
                color: inherit;
                font-size: 1rem;
            }
            .selectize-dropdown {
                background: #28282d;        
                color: #fff;
                border: none;
                box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
                [data-selectable] {
                    padding: 5px;
                    &.active {
                        background: #007bff;
                        color: #fff;
                    }
                }
            }
        }
    }
    .actor-wrap {
        background: #28282d;
        box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
        color: #fff;
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        a {
            color: inherit;
        }
        &:hover {
            transform: translateY(-10px);
        }

        margin-bottom: 30px;
        border-radius: 5px;
        overflow: hidden;
        .image {
            position: relative;
            max-height: 300px;
            overflow: hidden;
            img {
                height: auto;
                width: 100%;
            }
        }
        .content {
            padding: 30px;
            .title {
                margin: 0;
                padding-bottom: 20px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                // color: #948a99;
                margin: 0;
                word-break: break-word;
            }
        }
    }
}