.dashboard-page .page-wrapper {
  padding-top: 50px;

  .selectize-control {
    &.multi .selectize-input > div {
      border: none;
      border-radius: 4px;
      background: #007bff;
      color: #fff;
    }

    .selectize-dropdown,
    .selectize-input,
    .selectize-input input {
      font-size: 1rem;
      color: #303030;
    }

    .selectize-input {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: .375rem .75rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .selectize-dropdown [data-selectable] {
      padding: 10px;
      &.active {
        
      }
    }
  }

  .page-sidebar,
  .page-content {
    background: #28282d;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);

    form {
      margin-top: 73px;
      // margin-bottom: 73px;
      .bootstrap-tagsinput {
        display: block;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        .tag {
          // color: #28282d;
          background: #007bff;
          border-radius: 5px;
          padding: 3px;

          [data-role="remove"] {
            cursor: pointer;
            margin-left: 5px;
            margin-right: 2px;
            box-shadow: none;
            &:after {
              content: "\00d7";
              padding: 0;
            }
          }
        }
      }
    }
  }
  .page-sidebar {
    height: 100%;
    padding: 20px 10px;

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
      border-color: #fff;
      width: 100%;
    }

    .nav-pills .nav-link {
      color: #f1f1f1;
    }
  }
  .page-content {
    position: relative;
    left: 20px;
    // min-height: 100vh;
    padding: 40px 20px;
    padding-top: 0;

    #myprofile {
      margin-left: -35px;
      margin-right: -35px;
      .card {
        font-weight: 300;
      }
      .image-wrap {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }

    }

    #watchlist, #myprofile {
      .list-group{

        .list-group-item {
          background: transparent;
          color: #fff;
          .year {
            float: right;
          }
        }
      }
    }
    #watchlist {
      button.close {
        display: block;
        position: relative;
        top: -36px;
        right: 25px;
        width: 24px;
        height: 0;
        color: #fff;
        font-weight: 300;
      }
    }
  }
}
