.dev-page .content {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 60px;
    background: #28282d;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    padding: 25px 35px;

    width: 100%;
    min-height: 50vh;
    .card {
        background: transparent;
        .list-group {
            margin-left: -15px;
            .list-group-item{
                background: transparent;
            }
        }
        .btn-link {
            color: inherit;
        }
        .collapse,
        .collapsing {
            background: darken(#28282d, 1%);
            .collapse,
            .collapsing {
                background: darken(#28282d, 2%);
            }
        }
        .badge {
            font-weight: 400;
            font-size: 14px;
            margin-right: 7px;
        }
    }
}