.films-page {
  .banner {
    .image-aboutus-banner {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../images/banner9.jpg")
    }
  }
  .search-wrap {
    .movie-box-3 {
      margin-top: 50px;
      background: #28282d;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);;
      &:hover{
        transform: translateY(-10px);
      }
      .listing-image {
        max-height: 350px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .listing-content {
        position: relative;
        padding: 30px;
        .play-btn {
          position: absolute;
          top: -30px;
          right: 30px;
          a.play-video {
            height: 60px;
            width: 60px;
            line-height: 60px;
            border-radius: 50%;
            transition: all 0.5s ease;
  
            padding: 0;
            //   background: #9352b3;
            //   box-shadow: 0 10px 30px 0 rgba(147, 82, 179, 0.7);
          }
        }
        .title {
          padding: 0;
          font-size: 28px;
          font-weight: 500;
        }
        .stars {
          font-size: 14px;
          padding: 10px 0;
          clear: both;
          i {
            color: #ffc741;
          }
          span {
            color: #dcdcdc;
          }
          .category,
          .sort-by {
            float: right;
          }
          .category a {
            color: inherit;
            &:last-child:after {
              content: "";
            }
            &:after {
              content: ",";
            }
          }
        }
        p {
          font-size: 16px;
          line-height: 24px;
          color: #ccc;
          margin-bottom: 1.7em;
          margin-top: 0;
          word-break: break-all;
        }
      }
    }
  }
}