.index-page {
  .page-wrapper {
    padding-bottom: 0;
  }
  
  .navbar {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    background: transparent;
    box-shadow: none;
  
    @media (max-width: 991px) {
      .navbar-collapse {
        background: #000;
      }
    }
  }
  form#search-form-1 {
    .form-group {
      position: relative;
    }
  
    .btn,
    input,
    select {
      height: 55px;
    }
  
    select {
      position: absolute;
      width: 110px;
      top: 0;
      left: 0;
      border-color: transparent;
      border-radius: 5px 0 0 5px;
      padding: 0 13px 0 18px;
      background: #eee;
    }
  
    .btn {
      position: absolute;
      width: 70px;
      top: 0;
      right: 0;
      border-radius: 0 5px 5px 0;
      padding: 0;
      text-align: center !important;
    }
  
    .btn i {
      font-size: 22px;
      line-height: 55px;
    }
  
    input {
      // margin-left: 110px;
      margin-right: 70px;
      // width: calc(100% - 110px - 70px);
      width: calc(100% - 70px);
  
      border: none;
      // border-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }
  
  header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../images/banner1.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 11rem;
    padding-bottom: 11rem;
  
    .overlay {
      position: absolute;
      background-color: #212529;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.3;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    @media (min-width: 768px) {
      & {
        padding-top: 17rem;
        padding-bottom: 17rem;
      }
      h1 {
        font-size: 3rem;
      }
    }
  }
}