$input_height: 2.5rem;
$input-padding-y: $input_height/3;
$input-padding-x: $input_height/1.5;

.modal {
  .card-signin,
  .card-signup {
    color: #000;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

    .want-singup {
      display: block;
      color: #000;
      margin-bottom: 5px;
      transition: color 0.2s ease;
      &:hover {
        color: #007bff;
      }
    }

    .card-title {
      margin-bottom: 2rem;
      font-weight: 300;
      font-size: 1.5rem;
    }

    .card-body {
      padding: 2rem;
    }

    form {
      position: relative;
      width: 100%;
      transition: padding-top 0.2s ease;

      .form-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transition: height 0.2s ease;
      }

      .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
      }

      .form-group {
        margin-bottom: 1rem;
  
        .form-label-group {
          position: relative;
  
          .form-control {
            height: calc(#{$input_height} + 2px);

            &.has-warning {
              border-color: #ffc107;
            }
          }
  
          & > input,
          & > label {
            // padding: .75rem 1.5rem;
            padding: $input-padding-y $input-padding-x;
          }
  
          & > label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            margin-bottom: 0;
            /* Override default `<label>` margin */
            line-height: 1;
            color: #495057;
            border: 1px solid transparent;
            border-radius: 0.25rem;
            transition: all 0.1s ease-in-out;
          }
  
          input {
            border-radius: 2rem;
            &::-webkit-input-placeholder {
              color: transparent;
            }
  
            &:-ms-input-placeholder {
              color: transparent;
            }
  
            &::-ms-input-placeholder {
              color: transparent;
            }
  
            &::-moz-placeholder {
              color: transparent;
            }
  
            &::placeholder {
              color: transparent;
            }
  
            &:not(:placeholder-shown) {
              padding-top: calc((#{$input-padding-y}* 2) * (2 / 3));
              padding-bottom: calc(#{$input-padding-y} / 3);
            }
  
            &:not(:placeholder-shown) ~ label {
              padding-top: calc(#{$input-padding-y} / 3);
              padding-bottom: calc(#{$input-padding-y} / 3);
              font-size: 12px;
              color: #777;
            }
          }
        }
      }
    }
  }
}
