.navbar {
  position: relative;
  background: darken(#28282d, 5%);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  // min-height: 80px;
  padding: 1rem 1rem;
  z-index: 1;

  .navbar-nav .nav-link {
    color: #fff;
    transition: color 0.1s ease;
  }
  .navbar-nav .nav-link:hover {
    color: #ccc;
  }
  .navbar-buttons {
    margin-left: 25px;
    position: relative;

    .dropdown-menu {
      left: -50%;
      .dropdown-item {
        cursor: pointer;
      }
    }
  }

  .navbar-toggler {
    color: #fff;
    border: none;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  @media (max-width: 991px) {
    .container {
      position: relative;
    }
    .navbar-buttons {
      position: absolute;
      right: 60px;
      top: 0;
      bottom: 0;
    }
  }
}
