html {
  position: relative;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #2b2b31;
  color: #fff;
  min-height: calc(100vh - 80px);
  margin-bottom: 80px;
}

a:hover {
  text-decoration: none;
}

p {
  word-break: break-word;
}

.page-wrapper {
  padding-bottom: 80px;
}

footer {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  width: 100%;
  font-weight: 300;
  height: 80px;
  line-height: 80px;
  background: #28282d;
  ul {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      a {
        color: inherit;
        opacity: 0.8;
        transition: all 0.2s ease;
        &:hover {
          color: inherit;
          opacity: 1;
        }
      }
      &:last-child:after {
        content: "";
      }
      &:after {
        content: "\2022";
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}

.filters {
  text-align: center;
  height: 100px;
  background-color: #28282d;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);

  & > .container {
    height: 100%;
    
    & > form.row.align-items-center {
      height: 100%;

      .filter {
        color: #f9f9f9;
        .label {
          font-size: 16px;
          display: block;
          font-weight: 300;
          letter-spacing: 0.2px;
        }
        .filter-btn {
          display: inline-flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          &:after {
            margin-left: 7px;
          }
          .filter-range {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            div:not(#filter-range-value) {
              position: relative;
              &:first-child {
                margin-right: 20px;
                &:after {
                  content: '-';
                  position: absolute;
                  display: block;
                  left: 100%;
                  top: 0;
                  color: #fff;
                  font-size: 16px;
                  font-weight: 500;
                  margin-left: 7px;
                }
              }
            }
          }
        }
        .dropdown-menu {
          color: #fff;
          top: 100%;
          left: 0;
          margin-top: 0;
          min-width: 200px;
          padding: 15px 20px;
          box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
          background-color: #2b2b31;
          display: block;
          transition: margin-top 0.3s ease, opacity 0.3s ease;
          position: absolute;
          pointer-events: none;
          opacity: 0;
          max-height: 190px;
          border: none;
          &.show {
            pointer-events: auto;
            opacity: 1;
            margin-top: 10px;
          }
        }
      }

      .noUi-target {
        background: #28282d;
        border-radius: 4px;
        border: none;
        box-shadow: none;

        height: 4px;
        margin: 10px 0;
        .noUi-connects {
          background-color: rgba(255,255,255,0.05);
          -webkit-border-radius: 0;
          border-radius: 0;
          border: none;
          .noUi-connect {
            background-image: linear-gradient(90deg, lighten(#007bff, 15%) 0%, darken(#007bff, 10%) 100%);
          }
        }
        .noUi-handle{
          border: none;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          cursor: pointer;

          width: 16px;
          height: 16px;

          right: -8px;
          
          &:before,
          &:after {
            display: none;
          }

          &.noUi-handle-lower {
            background-color: #007bff;
            box-shadow: 0 0 20px 0 rgba(0, 123, 255, 0.5);
          }
          &.noUi-handle-upper {
            background-color: #007bff;
            box-shadow: 0 0 20px 0 rgba(0, 123, 255, 0.5);
          }
        }
      }
    }
  }
}
.banner {
  .image-aboutus-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../images/banner9.jpg");
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center 65%!important;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .lg-text {
    font-size: 52px;
    font-weight: 600;
    text-transform: none;
    color: #fff;
  }
  .image-aboutus-sm-banner p {
    color: #fff;
  }
}

.search-wrap {
  position: relative;
  transition: opacity 0.15s linear;
  &:after {
    content: " ";
    display: none;
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
  }
  &.loading {
    opacity: 0.4;
    &:after {
      display: block;
    }
  }

  .pagination {
    background: #28282d;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    .page-item {
      &.active .page-link{
        background: #007bff;
      }
      .page-link {
        background: none;
        color: #fff;
        background: #28282d;
        border: none;
        padding: 15px 15px;
        font-size: 100%;
        line-height: 1;
        transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
        &:hover{
          transform: translateY(-4px);
          box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
        }
      }
    }
  }
}
#playvideomodal .modal-content {
  background: #000;
}