<div class="row mt-5">
    {{#each actors}}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="actor-wrap">
            <div class="image">
                <a href="/actors/{{slug}}">
                    {{#if imgurl}}
                    <img src="{{imgurl}}" alt="">
                    {{else}}
                    <img src="https://via.placeholder.com/350x350.png?text=poster" alt="">
                    {{/if}}
                </a>
            </div>
            <div class="content">
                <div class="inner">
                    <h3 class="title"><a href="/actors/{{slug}}">{{fullname}}</a></h3>
                    <p>{{shortbio}}</p>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-12 text-center mt-5">
        <h2>There are no actors..</h2>
        <h5>Try another search</h5>
    </div>
    {{/each}}
</div>
<div class="row">
    {{{pagination}}}
</div>