{{#if message}}
<div class="row mt-5">
    <div class="mx-auto alert alert-dark" role="alert">
        {{message}}
    </div>
</div>
{{/if}}
<div class="row">
    {{#each films}}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="movie-box-3 mb30">
            <div class="listing-container">

                <!-- Movie List Image -->
                <div class="listing-image">
                    <!-- Image -->
                    {{#if imgurl}}
                    <img src="{{imgurl}}" alt="">
                    {{else}}
                    <img src="https://via.placeholder.com/400x600.png?text=poster" alt="">
                    {{/if}}
                </div>

                <!-- Movie List Content -->
                <div class="listing-content">
                    <div class="inner">
                        <!-- Play Button -->
                        <div class="play-btn">
                            <a href="/films/{{slug}}?play=1" class="play-video btn btn-primary" data-watch="{{ytWatchID}}">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>

                        <h2 class="title">{{title}}</h2>

                        <!-- Rating -->
                        <div class="stars">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <span>
                                    {{#if rating}}
                                    {{rating}}/10
                                    {{else}}
                                    ?/10
                                    {{/if}}
                                </span>
                                <span class="category">
                                    {{#each genre}}
                                    <a href="/films?genre={{slug}}">{{name}}</a>
                                    {{else}}
                                    no genres
                                    {{/each}}
                                </span>
                            </div>
                        </div>

                        <p>{{shortdesc}}</p>

                        <a href="/films/{{slug}}" class="btn btn-primary">details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-12 text-center mt-5">
        <h2>There are no films..</h2>
        <h5>Try another search</h5>
    </div>
    {{/each}}
</div>
<div class="row">
    {{{pagination}}}
</div>