<form action="/actors" method="GET" class="row align-items-center" id="filters">
    <input type="hidden" name="born>">
    <input type="hidden" name="born<">
    <input type="hidden" name="films">

    <div class="col-md-3">
        
        <div class="filter" id="filter-name">
            <span class="label">Name:</span>

            <input type="text" class="form-control" id="name" name="fullname" value="{{searchName}}" placeholder="Actor's name...">
        </div>

    </div>
    <div class="col-md-3">
        
        <div class="filter" id="filter-films">
            <span class="label">Film:</span>

            <select id="films-select" class="films-select" placeholder="Movie title...">
                {{#each searchFilm}}
                <option value="{{name}}" data-slug="{{slug}}" selected></option>
                {{/each}}
            </select>
        </div>

    </div>

    <div class="col-md-3">
        
        <div class="filter" id="filter-year">
            <span class="label">Born year:</span>

            <div class="filter-btn dropdown-toggle" role="button" id="filter-year-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="filter-range">
                    <div id="filter-range-start">{{#if bornGT}}{{bornGT}}{{else}}1915{{/if}}</div>
                    <div id="filter-range-end">{{#if bornST}}{{bornST}}{{else}}2019{{/if}}</div>
                </div>
                <span></span>
            </div>

            <div class="dropdown-menu" aria-labelledby="filter-year-toggle">
                <div id="filter-year-slider" data-start="[{{bornGT}}, {{bornST}}]" class=""></div>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>