<form action="/films" method="GET" class="row align-items-center" id="filters">
    <input type="hidden" name="rating>">
    <input type="hidden" name="rating<">

    <input type="hidden" name="releaseDate>">
    <input type="hidden" name="releaseDate<">
    <div class="col-md-3">

        <div class="filter" id="filter-genres">
            <span class="label">Genres:</span>

            <div class="filter-btn dropdown-toggle" role="button" id="filter-genres-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="filter-range">
                    <div id="filter-range-value">
                        {{#if currentGenre}} {{currentGenre}}
                        {{else}} Select 
                        {{/if}}
                    </div>
                </div>
                <span></span>
            </div>

            <select id="filter-genres-select" name="genre" class="dropdown-menu custom-select" size="3" aria-labelledby="filter-genres-toggle">
                {{#each genres}}
                <option value="{{name}}" {{#if active}}selected{{/if}}>{{name}}</option>
                {{/each}}
            </select>
        </div>

    </div>
    <div class="col-md-3">

        <div class="filter" id="filter-rating">
            <span class="label">Rating:</span>

            <div class="filter-btn dropdown-toggle" role="button" id="filter-rating-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="filter-range">
                    <div id="filter-range-start">{{#if currentRatingGT}}{{currentRatingGT}}{{else}}0{{/if}}</div>
                    <div id="filter-range-end">{{#if currentRatingST}}{{currentRatingST}}{{else}}10{{/if}}</div>
                </div>
                <span></span>
            </div>

            <div class="dropdown-menu" aria-labelledby="filter-rating-toggle">
                <div id="filter-rating-slider" data-start="[{{currentRatingGT}}, {{currentRatingST}}]" class=""></div>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        
        <div class="filter" id="filter-year">
            <span class="label">Release year:</span>

            <div class="filter-btn dropdown-toggle" role="button" id="filter-year-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="filter-range">
                    <div id="filter-range-start">{{#if releaseDateGT}}{{releaseDateGT}}{{else}}1915{{/if}}</div>
                    <div id="filter-range-end">{{#if releaseDateST}}{{releaseDateST}}{{else}}2019{{/if}}</div>
                </div>
                <span></span>
            </div>

            <div class="dropdown-menu" aria-labelledby="filter-year-toggle">
                <div id="filter-year-slider" data-start="[{{releaseDateGT}}, {{releaseDateST}}]" class=""></div>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>