<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" alt="" width="176px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/films">Films</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/series">Series</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" href="/actors">Actors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
    <div class="navbar-buttons">

      {{#user}}
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-user"></i> <span class="text-white">{{username}}</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/dashboard">Dashboard</a>
        <a class="dropdown-item" href="/dashboard/#watchlist">Watch List</a>
        <div class="dropdown-divider"></div>
        <form action="/api/v1/auth/logout" method="POST">
          <button class="dropdown-item" type="submit">Log Out</button>
        </form>
      </div>
      {{/user}}
      {{^user}}
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#signinmodal">Sign In</a>
      {{/user}}
    </div>
  </div>
</nav>

{{^user}}
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content card card-signin">
      <div class="card-body">
        <h5 class="card-title text-center">
          Sign In
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>
        <form class="form-signin" id="signin" method="POST" action="/api/v1/auth/login">
          
          <div class="form-info" style="opacity: 0">
            <div class="progress mb-4">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
            <div class="text bg-success text-white mb-4 p-2 rounded">Please, try later</div>
          </div>
          
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" name="username" id="inputLogin" class="form-control" placeholder="Username" required
                autofocus>
              <label for="inputLogin">Login</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                required>
              <label for="inputPassword">Password</label>
            </div>
          </div>


          <!-- <div class="form-group">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
          </div> -->

          <a href="#" class="want-singup" data-dismiss="modal" data-toggle="modal" data-target="#signupmodal">Want to
            Sign Up?</a>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content card card-signup">
      <div class="card-body">
        <h5 class="card-title text-center">
          Sign Up
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>
        <form class="form-signup" id="signup" method="POST" action="/api/v1/auth/register">
          
          <div class="form-info" style="opacity: 0">
            <div class="progress mb-4">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
            <div class="text bg-success text-white mb-4 p-2 rounded">Please, try later</div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input type="login" name="username" id="inputLogin2" class="form-control" placeholder="Email address"
                required autofocus>
              <label for="inputLogin2">Login</label>
              <div class="info text-warning pl-2"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input type="password" name="password" minlength="4" maxlength="16" id="inputPassword2" class="form-control"
                placeholder="Password" required>
              <label for="inputPassword2">Password</label>
              <div class="info text-warning pl-2"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input type="password" name="password_confirm" minlength="4" maxlength="16" id="inputConfirmPassword"
                class="form-control" placeholder="Confirm password" required>
              <label for="inputConfirmPassword">Confirm password</label>
              <div class="info text-warning pl-2"></div>
            </div>
          </div>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/user}}