<div class="banner">
    <div class="image-aboutus-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="lg-text">About</h1>
                    <p>Welcome my friend, so good to see you here</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container intro font-weight-light mt-5">
        <div class="row">
            <h2 class="font-weight-light "><strong class="text-uppercase">awecin</strong> - Best Place For Movies</h2>
        </div>
        <div class="row mt-5">
            <p>
                We created this amazing site, trying our best to learn all the preferences and wishes of users who are
                interested in watching TV shows and movies.
                Relax, enjoy viewing, discuss the storyline with your friends, learn the smallest details about each
                actor
                of any movie with <strong> awecin!</strong>
                It is very simple and affordable, especially with <strong> awecin.</strong>
                <br>Here you can find the best films and series for every taste!
                <br>No registration, no SMS, completely free!
                <br>Come on <strong> awecin</strong> and enjoy watching.
            </p>
        </div>
    </div>
    <div class="container backend font-weight-light mt-5">
        <div class="row">
            <h2 class="">Backend</h2>
        </div>
        <div class="row mt-3">
            <p>
                Based on <strong>Node JS</strong>, <strong>Express JS</strong>, <strong>MongoDB</strong>.<br>
                <strong>Mongoose</strong> for entities models.<br>
                All media stored on <strong>Cloudinary</strong>.<br>
                Template engine <strong>Handlebars JS</strong>.<br>
                <strong>Passport</strong> JS for authentification.<br>
                <strong>Axios</strong> and <strong>Api Query Params</strong> on REST API.<br>
            </p>
        </div>
    </div>
    <div class="container font-weight-light mt-5">
        <div class="row">
            <h2 class="">Author</h2>
        </div>
        <div class="row mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="http://t.me/rhadyniak" target="_blank">
                        Ruslan Hadyniak <span class="ml-2"></span> - <span class="ml-2"></span> <i>Professor</i>
                    </a>
                </li>
                <li class="list-group-item">
                    Amir Abu Shamala
                </li>
                <li class="list-group-item">
                    <a href="http://t.me/am1re344"><i class="fab fa-telegram-plane"></i> am1re344</a target="_blank">
                </li>
                <li class="list-group-item">
                    <a href="http://vk.com/am1re" target="_blank">
                        <i class="fab fa-vk"></i> am1re
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>