<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row align-self-center">

        </div>
    </div>
</header>
{{#if actor}}

<section class="actor-intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="actor-image">
                    {{#if actor.imgurl}}
                    <img src="{{actor.imgurl}}" alt="">
                    {{else}}
                    <img src="https://via.placeholder.com/400x600.png?text=poster" alt="">
                    {{/if}}
                </div>
                <div class="shortdetails">
                    <h3>{{actor.fullname}}</h3>
                    <h5 class="text-muted font-weight-light">Actor</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="film-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="fullbio">
                    <h3>Biography</h3>
                    <p>
                        {{#if actor.fullbio}}
                        {{actor.fullbio}}
                        {{else}}
                        {{actor.shortbio}}
                        {{/if}}
                    </p>
                </div>
                {{#if films}}
                <div class="filmography">
                    <h3>Filmography</h3>
                    <div class="list-group list-group-flush">
                        {{#each films}}
                            {{#if slug}}
                            <a href="/films/{{slug}}" class="list-group-item">{{title}}<span class="year">{{year}}</span></a>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="details-side">
                    <h3>Details</h3>
                    <ul>
                        {{#if actor.born}}<li><strong>Date of Birth: </strong>{{actor.born}}</li>{{/if}}
                        {{#if actor.gender}}<li><strong>Gender: </strong>{{actor.gender}}</li>{{/if}}
                        {{#if actor.country}}<li><strong>Country: </strong>{{actor.country}}</li>{{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{{/if}}