<div class="banner">
    <div class="image-aboutus-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="lg-text">Actors</h1>
                    <p>Your favourite actors are here</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="filters">
    <div class="container">
        {{#if filtersBlock}}
        {{{filtersBlock}}}
        {{else}}
        {{> filters_actor}}
        {{/if}}
    </div>
</div>
<div class="container search-wrap">
    {{#if actorsBlock}}
    {{{actorsBlock}}}
    {{else}}
    {{> actors_block}}
    {{/if}}
</div>