<div class="container">
    <div class="row">

        <div class="page-sidebar col-3">
            <nav class="navbar-side" role="navigation">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="myprofile-tab" data-toggle="pill" href="#myprofile" role="tab"
                        aria-controls="myprofile" aria-selected="true">My Profile</a>
                    <a class="nav-link" id="editprofile-tab" data-toggle="pill" href="#editprofile" role="tab"
                        aria-controls="editprofile" aria-selected="false">Edit Profile</a>
                    <a class="nav-link" id="watchlist-tab" data-toggle="pill" href="#watchlist" role="tab"
                        aria-controls="watchlist" aria-selected="false">Watchlist</a>
                    {{#isadmin}}
                    <hr>
                    <a class="nav-link" id="editusers-tab" data-toggle="pill" href="#editusers" role="tab"
                        aria-controls="editusers" aria-selected="false">Edit User</a>
                    <a class="nav-link" id="addfilm-tab" data-toggle="pill" href="#addfilm" role="tab" aria-controls="addfilm"
                        aria-selected="false">Add Film</a>
                    <a class="nav-link" id="editfilm-tab" data-toggle="pill" href="#editfilm" role="tab" aria-controls="editfilm"
                        aria-selected="false">Edit Film</a>
                    <a class="nav-link" id="addactor-tab" data-toggle="pill" href="#addactor" role="tab" aria-controls="addactor"
                        aria-selected="false">Add Actor</a>
                    <a class="nav-link" id="editactor-tab" data-toggle="pill" href="#editactor" role="tab"
                        aria-controls="editactor" aria-selected="false">Edit Actor</a>
                    {{/isadmin}}
                </div>
            </nav>
        </div>

        <div class="page-content col-9">
            <div class="container">
                <div class="row">
                    {{#if flashMessage.message}}
                    <div class="alert alert-{{flashMessage.type}} mt-3" role="alert" data-for="#{{flashMessage.hash}}">
                        {{flashMessage.message}}
                    </div>
                    {{/if}}
                    <div class="tab-content col-12" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="myprofile" role="tabpanel" aria-labelledby="myprofile-tab">
                            <div class="card bg-transparent">
                                <h5 class="card-header">Welcome, {{user.username}}!</h5>
                                <div class="card-body">
                                    <div class="row">
                                        {{!-- <h5 class="card-title">Special title treatment</h5> --}}
                                        <div class="col-3">
                                            <div class="image-wrap">
                                                {{#if user.imgurl}}
                                                <img src="{{user.imgurl}}" class="" alt="">
                                                {{else}}
                                                <img src="/images/userimg.png" class="" alt="">
                                                {{/if}}
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Username: {{user.username}}</li>
                                                {{#if user.fullname}}<li class="list-group-item">Fullname:
                                                    {{user.fullname}}</li>{{/if}}
                                                <li class="list-group-item">Role:
                                                    {{#if isadmin}}
                                                    <span class="ml-2 badge badge-primary">Admin</span>
                                                    {{else}}
                                                    <span class="ml-2 badge badge-secondary">User</span>
                                                    {{/if}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="editprofile" role="tabpanel" aria-labelledby="editprofile-tab">
                            <div class="jumbotron jumbotron-fluid bg-transparent">
                                <div class="container">
                                    <h1 class="display-4">Edit your profile</h1>
                                    <p class="lead"></p>
                                </div>
                            </div>
                            <hr>
                            <form action="/users/update" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="currentTab" value="editprofile">
                                <div class="form-group row">
                                    <label for="fullname" class="col-sm-3 col-form-label">Fullname</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="fullname" id="fullname" value="{{user.fullname}}"
                                            placeholder="" minlength="4" maxlength="32">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="image" class="col-sm-3 col-form-label">Profile Image</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control-file" id="profileimage" name="image">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="watchlist" role="tabpanel" aria-labelledby="watchlist-tab">
                            <div class="jumbotron jumbotron-fluid bg-transparent">
                                <div class="container">
                                    <h1 class="display-4">Watchlist</h1>
                                    <p class="lead">Films you want to watch later</p>
                                </div>
                            </div>
                            <div class="list-group list-group-flush">
                                {{#each watchlist}}
                                {{#if slug}}
                                <form action="/films/{{slug}}/watchlist" method="POST" id="watchlistremove-{{slug}}"
                                    class="d-none">
                                    <input type="hidden" name="currentTab" value="watchlist">
                                </form>
                                <a href="/films/{{slug}}" class="list-group-item">{{title}}<span class="year">{{year}}</span></a>
                                <button type="submit" class="close" aria-label="Close" form="watchlistremove-{{slug}}">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{/if}}
                                {{else}}
                                The list is empty :(
                                {{/each}}
                            </div>
                        </div>

                        {{#isadmin}}
                        <div class="tab-pane fade" id="editusers" role="tabpanel" aria-labelledby="editusers-tab">
                            <div class="jumbotron jumbotron-fluid bg-transparent">
                                <div class="container">
                                    <h1 class="display-4">Edit User</h1>
                                    <p class="lead">Find and edit user info</p>
                                </div>
                            </div>
                            <hr>
                            <form action="/users/delete" method="POST" id="usersdeleteform">
                                <input type="hidden" name="user">
                                <input type="hidden" name="currentTab" value="editusers">
                            </form>
                            <form action="/users/update" method="POST" enctype="multipart/form-data" id="usersupdateform">
                                <input type="hidden" name="user">
                                <input type="hidden" name="currentTab" value="editusers">

                                <div class="form-group row">
                                    <label for="films" class="col-sm-3 col-form-label">Users</label>
                                    <div class="col-sm-9">
                                        <select id="users-select" class="users-select" placeholder="Find user..."></select>
                                    </div>
                                </div>
                                <div class="user-fields" style="display: none;">
                                    <div class="form-group row">
                                        <label for="fullname" class="col-sm-3 col-form-label">Fullname</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="fullname" id="editfullname"
                                                placeholder="" minlength="4" maxlength="32">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="films" class="col-sm-3 col-form-label">Role</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="role" id="editrole">
                                                <option value="0">Admin</option>
                                                <option value="1">User</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="image" class="col-sm-3 col-form-label">Profile Image</label>
                                        <div class="col-sm-9">
                                            <input type="file" class="form-control-file" id="editprofileimage" name="image">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" form="usersupdateform">Submit</button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete"
                                        data-form="usersdeleteform">Delete</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="editfilm" role="tabpanel" aria-labelledby="editfilm-tab">
                            <div class="jumbotron jumbotron-fluid bg-transparent">
                                <div class="container">
                                    <h1 class="display-4">Edit Film</h1>
                                    <p class="lead">Select film and edit</p>
                                </div>
                            </div>
                            <hr>
                            <form action="/films/delete" method="POST" id="filmsdeleteform">
                                <input type="hidden" name="films">
                                <input type="hidden" name="currentTab" value="editfilm">
                            </form>
                            <form action="/films/update" method="POST" enctype="multipart/form-data" id="filmsupdateform">
                                {{!-- <input type="hidden" name="_method" value="PUT"> --}}
                                <input type="hidden" name="currentTab" value="editfilm">
                                <input type="hidden" name="films">

                                <div class="form-group row">
                                    <label for="films" class="col-sm-3 col-form-label">Films</label>
                                    <div class="col-sm-9">
                                        <select id="editfilms-select" class="films-select" placeholder="Find a movie..."></select>
                                    </div>
                                </div>
                                <div class="movie-fields" style="display: none;">
                                    <div class="form-group row">
                                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="title" id="edittitle"
                                                placeholder="" minlength="3">
                                            <small id="edittitleHelp" class="form-text text-muted">Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="shortdesc" class="col-sm-3 col-form-label">Short description</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="editshortdesc" name="shortdesc" rows="3"
                                                minlength="16"></textarea>
                                            <small id="editshortdescHelp" class="form-text text-muted">Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fulldesc" class="col-sm-3 col-form-label">Full description</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="editfulldesc" name="fulldesc" rows="5"
                                                minlength="32"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="rating" class="col-sm-3 col-form-label">Rating</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" id="editrating" name="rating"
                                                step="0.1" min="0" max="10">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="genre" class="col-sm-3 col-form-label">Genres</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="genre" id="editgenre"
                                                data-role="tagsinput">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="image" class="col-sm-3 col-form-label">Poster image</label>
                                        <div class="col-sm-9">
                                            <input type="file" class="form-control-file" id="editimagefilm" name="image">
                                            <small id="edittitleHelp" class="form-text text-muted">Upload new</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="releaseDate" class="col-sm-3 col-form-label">Release Date</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control datepicker-here" id="editreleaseDate"
                                                name="releaseDate" minlength="9" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ytWatchID" class="col-sm-3 col-form-label">Trailer</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="ytWatchID" id="editytWatchID"
                                                minlength="8" maxlength="15">
                                            <small id="editytWatchIDHelp" class="form-text text-muted">Youtube video
                                                ID.
                                                Example: hA6hldpSTF8</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="budget" class="col-sm-3 col-form-label">Budget</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="budget" id="editbudget">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="country" class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="country" id="editcountryFilm">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="language" class="col-sm-3 col-form-label">Language</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="language" id="editlanguage">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="production" class="col-sm-3 col-form-label">Production</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="production" id="editproduction">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" form="filmsupdateform">Submit</button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete"
                                        data-form="filmsdeleteform">Delete</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="addfilm" role="tabpanel" aria-labelledby="addfilm-tab">
                            <div class="jumbotron jumbotron-fluid bg-transparent">
                                <div class="container">
                                    <h1 class="display-4">Add Film</h1>
                                    <p class="lead">Here you can add new films to the database</p>
                                </div>
                            </div>
                            <hr>
                            <form action="/films" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="currentTab" value="addfilm">
                                <div class="form-group row">
                                    <label for="title" class="col-sm-3 col-form-label">Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="title" id="title" placeholder=""
                                            minlength="3">
                                        <small id="titleHelp" class="form-text text-muted">Required</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="shortdesc" class="col-sm-3 col-form-label">Short description</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="shortdesc" name="shortdesc" rows="3"
                                            minlength="16"></textarea>
                                        <small id="shortdescHelp" class="form-text text-muted">Required</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fulldesc" class="col-sm-3 col-form-label">Full description</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="fulldesc" name="fulldesc" rows="5" minlength="32"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="rating" class="col-sm-3 col-form-label">Rating</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="rating" name="rating" step="0.1"
                                            min="0" max="10">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="genre" class="col-sm-3 col-form-label">Genres</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="genre" id="genre" data-role="tagsinput">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="image" class="col-sm-3 col-form-label">Poster image</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control-file" id="imagefilm" name="image">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="releaseDate" class="col-sm-3 col-form-label">Release Date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control datepicker-here" id="releaseDate" name="releaseDate"
                                            minlength="9" maxlength="9">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ytWatchID" class="col-sm-3 col-form-label">Trailer</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="ytWatchID" id="ytWatchID"
                                            minlength="8" maxlength="15">
                                        <small id="ytWatchIDHelp" class="form-text text-muted">Youtube video ID.
                                            Example: hA6hldpSTF8</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="budget" class="col-sm-3 col-form-label">Budget</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="budget" id="budget">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="country" class="col-sm-3 col-form-label">Country</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="country" id="countryFilm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="language" class="col-sm-3 col-form-label">Language</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="language" id="language">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="production" class="col-sm-3 col-form-label">Production</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="production" id="production">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="addactor" role="tabpanel" aria-labelledby="addactor-tab">
                            <div class="jumbotron jumbotron-fluid bg-transparent">
                                <div class="container">
                                    <h1 class="display-4">Add Actor</h1>
                                    <p class="lead">Add new actor</p>
                                </div>
                            </div>
                            <hr>
                            <form action="/actors" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="currentTab" value="addactor">
                                <input type="hidden" name="films">

                                <div class="form-group row">
                                    <label for="fullname" class="col-sm-3 col-form-label">Full Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="fullname" id="fullname"
                                            placeholder="" minlength="3">
                                        <small id="fullnameHelp" class="form-text text-muted">Required</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="shortbio" class="col-sm-3 col-form-label">Short biography</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="shortbio" name="shortbio" rows="3" minlength="16"></textarea>
                                        <small id="shortbioHelp" class="form-text text-muted">Required</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fullbio" class="col-sm-3 col-form-label">Full biography</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="fullbio" name="fullbio" rows="5" minlength="32"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="films" class="col-sm-3 col-form-label">Films</label>
                                    <div class="col-sm-9">
                                        <select id="addactor-films-select" class="films-select" placeholder="Find a movie..."
                                            multiple></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="image" class="col-sm-3 col-form-label">Image</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control-file" id="imageactor" name="image">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="born" class="col-sm-3 col-form-label">Born Date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control datepicker-here" id="born" name="born"
                                            minlength="9" maxlength="9">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="gender" name="gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="country" class="col-sm-3 col-form-label">Country</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="countryActor" name="country"
                                            minlength="3" maxlength="16">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="editactor" role="tabpanel" aria-labelledby="editactor-tab">
                            <div class="jumbotron jumbotron-fluid bg-transparent">
                                <div class="container">
                                    <h1 class="display-4">Edit Actor</h1>
                                    <p class="lead">Select actor and edit</p>
                                </div>
                            </div>
                            <hr>
                            <form action="/actors/delete" method="POST" id="actorsdeleteform">
                                <input type="hidden" name="currentTab" value="editactor">
                                <input type="hidden" name="actor">
                            </form>
                            <form action="/actors/update" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="currentTab" value="editactor">
                                <input type="hidden" name="actor">
                                <input type="hidden" name="films">

                                <div class="form-group row">
                                    <label for="films" class="col-sm-3 col-form-label">Actor</label>
                                    <div class="col-sm-9">
                                        <select id="editactor-actors-select" class="actors-select" placeholder="Find actor..."></select>
                                    </div>
                                </div>
                                <div class="actor-fields" style="display: none;">
                                    <div class="form-group row">
                                        <label for="fullname" class="col-sm-3 col-form-label">Full Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="fullname" id="editfullname"
                                                placeholder="" minlength="3">
                                            <small id="editfullnameHelp" class="form-text text-muted">Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="shortbio" class="col-sm-3 col-form-label">Short biography</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="editshortbio" name="shortbio" rows="3"
                                                minlength="16"></textarea>
                                            <small id="editshortbioHelp" class="form-text text-muted">Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fullbio" class="col-sm-3 col-form-label">Full biography</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="editfullbio" name="fullbio" rows="5"
                                                minlength="32"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="films" class="col-sm-3 col-form-label">Films</label>
                                        <div class="col-sm-9">
                                            <select id="editactor-films-select" class="films-select" placeholder="Find a movie..."
                                                multiple></select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="image" class="col-sm-3 col-form-label">Image</label>
                                        <div class="col-sm-9">
                                            <input type="file" class="form-control-file" id="editimageactor" name="image">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="born" class="col-sm-3 col-form-label">Born Date</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control datepicker-here" id="editborn" name="born"
                                                minlength="9" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="editgender" name="gender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="country" class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="editcountryActor" name="country"
                                                minlength="3" maxlength="16">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete"
                                        data-form="actorsdeleteform">Delete</button>
                                </div>
                            </form>
                        </div>
                        {{/isadmin}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade text-dark text-center" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="confirmDeleteLabel">Wait!</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="mb-4">Are you sure ?</h4>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="sumbit" class="btn btn-danger">Delete</button>
            </div>
            {{!-- <div class="modal-footer">
            </div> --}}
        </div>
    </div>
</div>