<div class="container">
    <div class="row">
        <div class="content">
            <p>
                Current API v1 URL - <code>/api/v1/</code>
            </p>
            <p>
                Our API supports <a href="https://www.npmjs.com/package/api-query-params"><span class="badge badge-secondary">api-query-params</span></a>.
                Requests that are using AQP will be marked like <span class="badge badge-secondary">AQP</span>
            </p>
            <p>
                Also we use Basic Auth. You can use your login and password from regular web site, but you need to be
                an admin.<br>
                Requests that are using Basic Auth will be marked like <span class="badge badge-warning">Auth</span> as
                well.
            </p>
            <p>
                Usage of <span class="badge badge-secondary">AQP</span> is bellow in first tab.
            </p>
            <div class="accordion" id="aqp-table-tab">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#aqp-table">
                                Api Query Params
                            </button>
                        </h5>
                    </div>
                    <div id="aqp-table" class="collapse" data-parent="#aqp-table-tab">
                        <div class="card-body">

                            <table class="table table-striped table-dark table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">MongoDB</th>
                                        <th scope="col">URI</th>
                                        <th scope="col">Example</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>$eq</td>
                                        <td>key=val</td>
                                        <td>type=public</td>
                                    </tr>
                                    <tr>
                                        <td>$gt</td>
                                        <td>key&gt;val</td>
                                        <td>count&gt;5</td>
                                    </tr>
                                    <tr>
                                        <td>$gte</td>
                                        <td>key&gt;=val</td>
                                        <td>rating&gt;=9.5</td>
                                    </tr>
                                    <tr>
                                        <td>$lt</td>
                                        <td>key&lt;val</td>
                                        <td>createdAt&lt;2016-01-01</td>
                                    </tr>
                                    <tr>
                                        <td>$lte</td>
                                        <td>key&lt;=val</td>
                                        <td>score&lt;=-5</td>
                                    </tr>
                                    <tr>
                                        <td>$ne</td>
                                        <td>key!=val</td>
                                        <td>status!=success</td>
                                    </tr>
                                    <tr>
                                        <td>$in</td>
                                        <td>key=val1,val2</td>
                                        <td>country=GB,US</td>
                                    </tr>
                                    <tr>
                                        <td>$nin</td>
                                        <td>key!=val1,val2</td>
                                        <td>lang!=fr,en</td>
                                    </tr>
                                    <tr>
                                        <td>$exists</td>
                                        <td>key</td>
                                        <td>phone</td>
                                    </tr>
                                    <tr>
                                        <td>$exists</td>
                                        <td>!key</td>
                                        <td>!email</td>
                                    </tr>
                                    <tr>
                                        <td>$regex</td>
                                        <td>key=/value/&lt;opts&gt;</td>
                                        <td>email=/@gmail\.com$/i</td>
                                    </tr>
                                    <tr>
                                        <td>$regex</td>
                                        <td>key!=/value/&lt;opts&gt;</td>
                                        <td>phone!=/^06/</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>




                <div class="accordion" id="all-models">
                    <!-- USER MODEL -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#user-model">
                                    User Model
                                </button>
                            </h5>
                        </div>
                        <div id="user-model" class="collapse" data-parent="#all-models">
                            <div class="card-body">
                                <!-- USER MODEL REQUESTS -->
                                <div class="accordion" id="user-model-reqs">
                                    <!-- USER MODEL SCHEMA -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#users-schema">
                                                    Schema
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="users-schema" class="collapse" data-parent="#user-model-reqs">
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">username: <code>String</code></li>
                                                    <li class="list-group-item">role: <code>Number</code></li>
                                                    <li class="list-group-item">watchlist: <code>[String]</code></li>
                                                    <li class="list-group-item">fullname: <code>String</code></li>
                                                    <li class="list-group-item">imgurl: <code>String</code></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- GET /users -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#get-users">
                                                    <span class="badge badge-primary">GET</span>
                                                    <span class="badge badge-secondary">AQP</span>
                                                    <span class="badge badge-warning">Auth</span>/users
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="get-users" class="collapse" data-parent="#user-model-reqs">
                                            <div class="card-body">
                                                <h5>REQUEST:</h5>
                                                <table class="table table-bordered table-dark table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Field</th>
                                                            <th scope="col">Type</th>
                                                            <th scope="col">Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>limit</td>
                                                            <td>Number</td>
                                                            <td>...</td>
                                                        </tr>
                                                        <tr>
                                                            <td>page</td>
                                                            <td>Number</td>
                                                            <td>...</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="badge badge-secondary">AQP</span></td>
                                                            <td>...</td>
                                                            <td>...</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h5>RESPONSE:</h5>
                                                <p>
                                                    <span class="text-success">success: </span>
                                                    <code>
                                                    status: 200
                                                    {
                                                        page: Number,
				                                        count: Number,
				                                        limit: Number,
				                                        data: [Array]
                                                    }
                                                    </code>
                                                </p>
                                                <p>
                                                    <span class="text-danger">error: </span>
                                                    <code>
                                                    status: 500
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- POST /users -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#post-users">
                                                    <span class="badge badge-success">POST</span>
                                                    <span class="badge badge-warning">Auth</span>/users
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="post-users" class="collapse" data-parent="#user-model-reqs">
                                            <div class="card-body">
                                                <h5>REQUEST:</h5>
                                                <table class="table table-bordered table-dark table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Field</th>
                                                            <th scope="col">Type</th>
                                                            <th scope="col">Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>username</td>
                                                            <td>String</td>
                                                            <td>...</td>
                                                        </tr>
                                                        <tr>
                                                            <td>password</td>
                                                            <td>String</td>
                                                            <td>...</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h5>RESPONSE:</h5>
                                                <p>
                                                    <span class="text-success">success: </span>
                                                    <code>
                                                    status: 200
                                                    {
				                                        data: User
                                                    }
                                                    </code>
                                                </p>
                                                <p>
                                                    <span class="text-danger">error: </span>
                                                    <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- GET /users/:username -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#get-users-username">
                                                    <span class="badge badge-primary">GET</span>
                                                    <span class="badge badge-warning">Auth</span>/users/:username
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="get-users-username" class="collapse" data-parent="#user-model-reqs">
                                            <div class="card-body">
                                                <h5>RESPONSE:</h5>
                                                <p>
                                                    <span class="text-success">success: </span>
                                                    <code>
                                                    status: 200
                                                    {
				                                        data: User
                                                    }
                                                    </code>
                                                </p>
                                                <p>
                                                    <span class="text-danger">error: </span>
                                                    <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- PUT /users/:username -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#put-users-username">
                                                    <span class="badge badge-info">PUT</span>
                                                    <span class="badge badge-warning">Auth</span>/users/:username
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="put-users-username" class="collapse" data-parent="#user-model-reqs">
                                            <div class="card-body">
                                                <h5>REQUEST:</h5>
                                                <p><code>Any field with value from User model</code></p>
                                                <h5>RESPONSE:</h5>
                                                <p>
                                                    <span class="text-success">success: </span>
                                                    <code>
                                                    status: 200
                                                    {
				                                        data: User
                                                    }
                                                    </code>
                                                </p>
                                                <p>
                                                    <span class="text-danger">error: </span>
                                                    <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- DELETE /users/:username -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#delete-users-username">
                                                    <span class="badge badge-danger">DELETE</span>
                                                    <span class="badge badge-warning">Auth</span>/users/:username
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="delete-users-username" class="collapse" data-parent="#user-model-reqs">
                                            <div class="card-body">
                                                <h5>RESPONSE:</h5>
                                                <p>
                                                    <span class="text-success">success: </span>
                                                    <code>
                                                    status: 200
                                                    {
				                                        message: "Success"
                                                    }
                                                    </code>
                                                </p>
                                                <p>
                                                    <span class="text-danger">error: </span>
                                                    <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- GET /users/:username/watchlist -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#get-users-username-watchlist">
                                                    <span class="badge badge-primary">GET</span>
                                                    <span class="badge badge-warning">Auth</span>/users/:username/watchlist
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="get-users-username-watchlist" class="collapse" data-parent="#user-model-reqs">
                                            <div class="card-body">
                                                <h5>RESPONSE:</h5>
                                                <p>
                                                    <span class="text-success">success: </span>
                                                    <code>
                                                    status: 200
                                                    {
				                                        data: [String]
                                                    }
                                                    </code>
                                                </p>
                                                <p>
                                                    <span class="text-danger">error: </span>
                                                    <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- POST /users/:username/watchlist -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#post-users-username-watchlist">
                                                    <span class="badge badge-info">POST</span>
                                                    <span class="badge badge-warning">Auth</span>/users/:username/watchlist
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="post-users-username-watchlist" class="collapse" data-parent="#user-model-reqs">
                                            <div class="card-body">
                                                <h5>Description</h5>
                                                <p>
                                                    <code>Add/remove(if exists) film to users watchlist</code>
                                                </p>
                                                <h5>REQUEST:</h5>
                                                <table class="table table-bordered table-dark table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Field</th>
                                                            <th scope="col">Type</th>
                                                            <th scope="col">Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>film</td>
                                                            <td>String</td>
                                                            <td>...</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h5>RESPONSE:</h5>
                                                <p>
                                                    <span class="text-success">success: </span>
                                                    <code>
                                                    status: 200
                                                    {
				                                        data: User
                                                    }
                                                    </code>
                                                </p>
                                                <p>
                                                    <span class="text-danger">error: </span>
                                                    <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- GET /username/:username -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#get-username-username">
                                                    <span class="badge badge-primary">GET</span>/username/:username
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="get-username-username" class="collapse" data-parent="#user-model-reqs">
                                            <div class="card-body">
                                                <h5>Description</h5>
                                                <p>
                                                    <code>Returns true if specified user exists in DB</code>
                                                </p>
                                                <h5>RESPONSE:</h5>
                                                <p>
                                                    <span class="text-success">success: </span>
                                                    <code>
                                                    status: 200
                                                    {
				                                        user: boolean
                                                    }
                                                    </code>
                                                </p>
                                                <p>
                                                    <span class="text-danger">error: </span>
                                                    <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FILM MODEL -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#film-model">
                                Film Model
                            </button>
                        </h5>
                    </div>
                    <div id="film-model" class="collapse" data-parent="#all-models">
                        <div class="card-body">
                            <!-- FILM MODEL REQUESTS -->
                            <div class="accordion" id="film-model-reqs">
                                <!-- FILM MODEL SCHEMA -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#films-schema">
                                                Schema
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="films-schema" class="collapse" data-parent="#film-model-reqs">
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">title: <code>String</code></li>
                                                <li class="list-group-item">shortdesc: <code>Number</code></li>
                                                <li class="list-group-item">genre: <code>[{name: String, slug: String}]</code></li>
                                                <li class="list-group-item">rating: <code>Float</code></li>
                                                <li class="list-group-item">fulldesc: <code>String</code></li>
                                                <li class="list-group-item">ytWatchID: <code>String</code></li>
                                                <li class="list-group-item">releaseDate: <code>Date</code></li>
                                                <li class="list-group-item">budget: <code>String</code></li>
                                                <li class="list-group-item">country: <code>String</code></li>
                                                <li class="list-group-item">language: <code>String</code></li>
                                                <li class="list-group-item">production: <code>String</code></li>
                                                <li class="list-group-item">imgurl: <code>String</code></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- GET /films -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#get-films">
                                                <span class="badge badge-primary">GET</span><span class="badge badge-secondary">AQP</span>/films
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="get-films" class="collapse" data-parent="#film-model-reqs">
                                        <div class="card-body">
                                            <h5>REQUEST:</h5>
                                            <table class="table table-bordered table-dark table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Field</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>limit</td>
                                                        <td>Number</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td>page</td>
                                                        <td>Number</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="badge badge-secondary">AQP</span></td>
                                                        <td>...</td>
                                                        <td>...</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        page: Number,
                                                        count: Number,
                                                        limit: Number,
                                                        data: [Film]
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 500
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- POST /films -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#post-films">
                                                <span class="badge badge-success">POST</span>
                                                <span class="badge badge-warning">Auth</span>/films
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="post-films" class="collapse" data-parent="#film-model-reqs">
                                        <div class="card-body">
                                            <h5>REQUEST:</h5>
                                            <table class="table table-bordered table-dark table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Field</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>title</td>
                                                        <td>String</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td>shortdec</td>
                                                        <td>String</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td>genre</td>
                                                        <td>CSV</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td>* Any field with value from Film model *</td>
                                                        <td>...</td>
                                                        <td>...</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        data: Film
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- GET /films/:slug -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#get-films-slug">
                                                <span class="badge badge-primary">GET</span>
                                                <span class="badge badge-warning">Auth</span>/films/:slug
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="get-films-slug" class="collapse" data-parent="#film-model-reqs">
                                        <div class="card-body">
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        data: Film
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- PUT /films/:slug -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#put-films-slug">
                                                <span class="badge badge-info">PUT</span>
                                                <span class="badge badge-warning">Auth</span>/films/:slug
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="put-films-slug" class="collapse" data-parent="#film-model-reqs">
                                        <div class="card-body">
                                            <h5>REQUEST:</h5>
                                            <p><code>Any field with value from Film model</code></p>
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        data: Film
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 404
                                                    {
                                                        data: null
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- DELETE /films/:slug -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#delete-films-slug">
                                                <span class="badge badge-danger">DELETE</span>
                                                <span class="badge badge-warning">Auth</span>/films/:slug
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="delete-films-slug" class="collapse" data-parent="#film-model-reqs">
                                        <div class="card-body">
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        message: "Success"
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ACTOR MODEL -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#actor-model">
                                Actor Model
                            </button>
                        </h5>
                    </div>
                    <div id="actor-model" class="collapse" data-parent="#all-models">
                        <div class="card-body">
                            <!-- ACTOR MODEL REQUESTS -->
                            <div class="accordion" id="actor-model-reqs">
                                <!-- FILM MODEL SCHEMA -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#films-schema">
                                                Schema
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="films-schema" class="collapse" data-parent="#film-model-reqs">
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">fullname: <code>String</code></li>
                                                <li class="list-group-item">shortbio: <code>String</code></li>
                                                <li class="list-group-item">fullbio: <code>String</code></li>
                                                <li class="list-group-item">born: <code>Date</code></li>
                                                <li class="list-group-item">country: <code>String</code></li>
                                                <li class="list-group-item">gender: <code>String</code></li>
                                                <li class="list-group-item">imgurl: <code>String</code></li>
                                                <li class="list-group-item">films: <code>[String]</code></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- GET /actors -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#get-actors">
                                                <span class="badge badge-primary">GET</span><span class="badge badge-secondary">AQP</span>/actors
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="get-actors" class="collapse" data-parent="#actor-model-reqs">
                                        <div class="card-body">
                                            <h5>REQUEST:</h5>
                                            <table class="table table-bordered table-dark table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Field</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>limit</td>
                                                        <td>Number</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td>page</td>
                                                        <td>Number</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="badge badge-secondary">AQP</span></td>
                                                        <td>...</td>
                                                        <td>...</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        page: Number,
                                                        count: Number,
                                                        limit: Number,
                                                        data: [Actor]
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 500
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- POST /actors -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#post-actors">
                                                <span class="badge badge-success">POST</span>
                                                <span class="badge badge-warning">Auth</span>/actors
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="post-actors" class="collapse" data-parent="#actor-model-reqs">
                                        <div class="card-body">
                                            <h5>REQUEST:</h5>
                                            <table class="table table-bordered table-dark table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Field</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>fullname</td>
                                                        <td>String</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td>shortbio</td>
                                                        <td>String</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td>films</td>
                                                        <td>CSV</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td>* Any field with value from Actor model *</td>
                                                        <td>...</td>
                                                        <td>...</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        data: [Actor]
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- GET /actors/:slug -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#get-actors-slug">
                                                <span class="badge badge-primary">GET</span>/actors/:slug
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="get-actors-slug" class="collapse" data-parent="#actor-model-reqs">
                                        <div class="card-body">
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        data: [Actor]
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- PUT /actors/:slug -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#put-actors-slug">
                                                <span class="badge badge-info">PUT</span>
                                                <span class="badge badge-warning">Auth</span>/actors/:slug
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="put-actors-slug" class="collapse" data-parent="#actor-model-reqs">
                                        <div class="card-body">
                                            <h5>REQUEST:</h5>
                                            <table class="table table-bordered table-dark table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Field</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>films</td>
                                                        <td>CSV</td>
                                                        <td>...</td>
                                                    </tr>
                                                    <tr>
                                                        <td>* Any field with value from Actor model *</td>
                                                        <td>...</td>
                                                        <td>...</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        data: [Actor]
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 404
                                                    {
                                                        data: null
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- DELETE /actors/:slug -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#delete-actors-slug">
                                                <span class="badge badge-danger">DELETE</span>
                                                <span class="badge badge-warning">Auth</span>/actors/:slug
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="delete-actors-slug" class="collapse" data-parent="#actor-model-reqs">
                                        <div class="card-body">
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
                                                        message: "Success"
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 400
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OTHER REQUESTS TAB -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#other-reqs-tab">
                                Other requests
                            </button>
                        </h5>
                    </div>
                    <div id="other-reqs-tab" class="collapse" data-parent="#all-models">
                        <div class="card-body">
                            <!-- OTHER REQUESTS -->
                            <div class="accordion" id="other-requests">
                                <!-- GET /genres -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#get-genres">
                                                <span class="badge badge-primary">GET</span>/genres
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="get-genres" class="collapse" data-parent="#other-reqs-tab">
                                        <div class="card-body">
                                            <h5>Description</h5>
                                            <p>
                                                <code>Return array of all genres that exists in DB</code>
                                            </p>
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
				                                        data: [{name: String, slug: String}]
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 500
                                                    {
                                                        message: String
                                                    }
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- POST /storage -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#post-storage">
                                                <span class="badge badge-success">POST</span>
                                                <span class="badge badge-warning">Auth</span>/storage
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="post-storage" class="collapse" data-parent="#other-reqs-tab">
                                        <div class="card-body">
                                            <h5>Description</h5>
                                            <p>
                                                <code>Uploads file in req.body.image to the Cloudinary storage</code>
                                            </p>
                                            <h5>REQUEST:</h5>
                                            <table class="table table-bordered table-dark table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Field</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>image</td>
                                                        <td>Buffer (file)</td>
                                                        <td>...</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h5>RESPONSE:</h5>
                                            <p>
                                                <span class="text-success">success: </span>
                                                <code>
                                                    status: 200
                                                    {
				                                        data: {*Cloudinary response*}
                                                    }
                                                    </code>
                                            </p>
                                            <p>
                                                <span class="text-danger">error: </span>
                                                <code>
                                                    status: 500
                                                    </code>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            {{!--
            User:
            username String
            role String
            watchlist [String]
            fullname String
            imgurl String

            get /users basic auth
            post users basic auth
            get /users/:username basic auth
            put /users/:username basic auth
            delete /users/:username basic auth
            post /users/:username/watchlist basic auth
            get /users/:username/watchlist basic auth

            get /username/:username

            Film:
            title: String
            slug: String,
            shortdec: String,
            genre: [ {
            name: String,
            slug: String
            } ]
            rating: Float
            fulldesc: String
            imgurl: String
            ytWatchID: String
            releaseDate: Date
            budget: String
            country: String
            language: String
            production: String

            get /films
            post /films basic auth
            get /films/:slug
            put /films/:slug basic auth
            delete /films/:slug basic auth

            Actor:
            fullname: String
            slug: String
            shortbio: String
            fullbio: String
            born: Date
            country: String
            gender: String
            imgurl: String
            films: [String]

            get /actors
            post /actors basic auth
            get /actors/:slug
            put /actors/:slug basic auth
            delete /actors/:slug basic auth

            get /genres

            post /storage basic auth
            --}}

        </div>
    </div>
</div>