<div class="container border border-danger rounded bg-danger mt-5 p-3{{#is4xx}} text-center text-white{{/is4xx}}{{^is4xx}} text-dark{{/is4xx}}">
    <h3>{{message}}</h1>
    <h4>{{error.status}}</h2>
    
    {{^is4xx}}
    <pre class="text-dark">{{error.stack}}</pre>

    <div class="row">
        <a href="http://t.me/am1re344" target="_blank" class="text-white text-uppercase bg-info p-2 rounded mt-3 d-inline-block mx-auto"><i class="fab fa-telegram-plane"></i> Contact me please!</a>
    </div>
    {{/is4xx}}

</div>