<div class="banner">
    <div class="image-aboutus-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="lg-text">Films</h1>
                    <p>Your favourite films are here</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="filters">
    <div class="container">
        {{#if filtersBlock}}
        {{{filtersBlock}}}
        {{else}}
        {{> filters_film}}
        {{/if}}
    </div>
</div>
<div class="container search-wrap">
    {{#if filmsBlock}}
    {{{filmsBlock}}}
    {{else}}
    {{> films_block}}
    {{/if}}
</div>
<div class="modal fade" id="playvideomodal" tabindex="-1" role="dialog" aria-labelledby="playvideomodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" id="video" src="" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>