<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row align-self-center">

        </div>
    </div>
</header>
{{#if film}}

<section class="film-intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="poster">
                    {{#if film.imgurl}}
                    <img src="{{film.imgurl}}" alt="">
                    {{else}}
                    <img src="https://via.placeholder.com/400x600.png?text=poster" alt="">
                    {{/if}}
                </div>
                <div class="shortdetails">
                    <h3>{{film.title}}</h3>
                    <ul class="subtext">
                        <li>
                            2h 32min
                        </li>
                        <li class="genres">
                            {{#each film.genre}}
                            <span>{{name}}</span>
                            {{/each}}
                        </li>
                        <li class="date">
                            {{film.releaseDate}}
                        </li>
                    </ul>
                    {{#if film.ytWatchID}}
                    <a href="#" class="play-btn btn btn-primary" data-watch="{{film.ytWatchID}}">Trailer</a>
                    {{/if}}
                    {{#if user}}
                    <form action="/films/{{film.slug}}/watchlist" method="POST">
                        <button type="submit" class="btn add-watchlist {{#if film.inwatchlist}}active{{/if}}">
                            {{#if film.inwatchlist}}
                            <i class="fas fa-heart"></i>
                            {{else}}
                            <i class="far fa-heart"></i>
                            {{/if}}
                        </button>
                    </form>
                    {{!-- <a href="#" class="btn add-watchlist"><i class="far fa-heart"></i></a> --}}
                    {{/if}}
                    <div class="rating mt-3">
                        {{#if film.objRating}}
                        {{#each film.objRating.filled}}
                        <i class="fas fa-star"></i>
                        {{/each}}
                        {{#each film.objRating.empty}}
                        <i class="far fa-star"></i>
                        {{/each}}
                        {{/if}}
                        <span>IMDb {{film.rating}}/10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="film-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="fulldesc">
                    <h3>Movie description</h3>
                    <p>
                        {{#if film.fulldesc}}
                        {{film.fulldesc}}
                        {{else}}
                        {{film.shortdesc}}
                        {{/if}}
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="details-side">
                    <h3>Details</h3>
                    <ul>
                        {{#if film.genre}}
                        <li class="genres"><strong>Genre: </strong>
                            {{#each film.genre}}
                            <span>{{name}}</span>
                            {{/each}}
                        </li>
                        {{/if}}
                        {{#if film.releaseDate}}<li><strong>Release date: </strong>{{film.releaseDate}}</li>{{/if}}
                        {{#if film.budget}}<li><strong>Budget: </strong>{{film.budget}}</li>{{/if}}
                        {{#if film.country}}<li><strong>Country: </strong>{{film.country}}</li>{{/if}}
                        {{#if film.language}}<li><strong>Language: </strong>{{film.language}}</li>{{/if}}
                        {{#if film.production}}<li><strong>Production Co: </strong>{{film.production}}</li>{{/if}}
                    </ul>
                </div>
                {{#if actors}}
                <div class="actors-side">
                    <h3>Actors</h3>
                    <ul>
                        {{#each actors}}
                        <li>
                            <a href="/actors/{{slug}}">
                                <div class="circle-img">
                                    {{#if imgurl}}
                                    <img src="{{imgurl}}" alt="">
                                    {{else}}
                                    <img src="https://via.placeholder.com/150x150.png?text=poster" alt="">
                                    {{/if}}
                                </div>
                                <h6 class="name">{{fullname}}</h6>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                    <a href="/actors?films={{film.slug}}" class="btn btn-primary">View all</a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="playvideomodal" tabindex="-1" role="dialog" aria-labelledby="playvideomodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" id="video" src="" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{{else}}
no film ?
{{/if}}