<header class="masthead text-white text-center" style="height: 100vh;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row align-self-center">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Welcome to awecin!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form id="search-form-1" method="GET" action="/films">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                {{!-- <select name="t" id="search-type">
                                    <option value="movie">Movies</option>
                                    <option value="series">Series</option>
                                </select> --}}
                                <input name="title" type="text" id="search-keyword" value="" class="form-control"
                                    {{!-- placeholder="Enter Movies or Series Title" required autofocus> --}}
                                    placeholder="Enter Movies Title" required autofocus>
                                <button type="submit" class="btn btn-main btn-effect"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>