<!DOCTYPE html>
<html>

<head>

  <title>{{title}}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">
  <link rel="manifest" href="/meta/site.webmanifest">
  <link rel="mask-icon" href="/meta/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">

  <link rel='stylesheet' href='/stylesheets/libs/bootstrap/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/libs/fontawesome/css/all.min.css' />
  {{!--
  <link rel='stylesheet' href='/stylesheets/libs/bootstrap-tagsinput/bootstrap-tagsinput.css' /> --}}
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" lazyload>

  <script type='text/javascript' src='/javascripts/libs/jquery-3.3.1.min.js' defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous" defer></script>
  <script type='text/javascript' src='/javascripts/libs/bootstrap/bootstrap.min.js' defer></script>
  <script type='text/javascript' src='/javascripts/core.js' defer></script>

  <!-- <script type='text/javascript' src='/javascripts/extend.js' defer></script> -->

</head>

<body class="{{bodyclass}}">
  <div id="page-includes" class="{{#each pageincludes}}{{this}} {{/each}}"></div>
  {{> navbar}}
  <div class="page-wrapper">
    {{{body}}}
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-6">
          Awecin © 2018
        </div>
        <div class="col-6 text-right">
          <ul>
            <li>
              <a href="/developer">API Docs</a>
            </li>
            <li>
              <a href="//t.me/am1re344" target="_blank">Author</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>